html, body{
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;

}

#container{
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 4fr;
}

#header{
    display: grid;
    align-items: center;
    justify-items: center;
}

h1{
    font-size: 2em;
}

#canvas{
    background-color: black;
    min-width: 70vh;
    min-height: 70vh;
    border: 10px solid orange;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}